.gradle/
.idea/
gradle/
out/
build.gradle
gradlew
gradlew.bat
local.properties
settings.gradle
SmartInfinityLifestyle.iml
SmartInfinityLifestyleProject.iml
SmartInfinityLifestyle/build
SmartInfinityLifestyle/libs
SmartInfinityLifestyle/SmartInfinityLifestyle-SmartInfinityLifestyle.iml
SmartInfinityLifestyle/src/main/bin
SmartInfinityLifestyle/src/main/gen